@use "../../global" as g;

/*!
page > news > news-list
------------------------------
*/
.news-list-category {
    padding-block: 40px 16px;
}

.news-list-category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}

.news-list-category-link {
    display: block;
    line-height: 1.5;

    @media (any-hover: hover) {
        &:hover {
            color: var(--color-navy);
        }
    }

    &[aria-current="page"] {
        color: var(--color-navy);
        border-bottom: 1px solid var(--color-navy);
    }
}

.news-list-item .news-meta {
    display: flex;
    align-items: center;
}
