@use "../../global" as g;

/*!
page > news > news-detail
------------------------------
*/
.news-breadcrumb {
    margin-top: 80px;
    background-color: var(--color-gray);
    padding: 20px;
}

.news-breadcrumb-inner {
    margin-left: 60px;
}

.news-detail-wrap {
    display: grid;
    grid-template-columns: 1fr;

    @include g.mq() {
        grid-template-columns: 70% 1fr;
        gap: 40px;
    }
}

.news-detail {

}

.news-detail-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid var(--color-font-light);
    padding-right: 60px;
}

.news-meta {

}

.news-detail-title {
    font-size: clamp(24px, 4vw, 36px);
    font-weight: bold;
    letter-spacing: 0.1em;
    color: var(--color-navy);
}

.news-detail-img {

}

.news-detail-text {
    line-height: 1.7;
    span {
        display: block;
    }
}

.news-detail-equipment {
    background-color: var(--color-gray);
    padding: 20px;
    border-radius: 6px;
}

.news-detail-equipment-title {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--color-navy);
    line-height: 1.2;
}

.news-detail-equipment dl {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px 20px;
    margin-top: 20px;
}

.news-detail-prev-next {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 1px solid var(--color-font-light);
    border-bottom: 1px solid var(--color-font-light);
    position: relative;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        width: 2px;
        height: 100%;
            background-color: var(--color-font-light);
    }
}

.news-detail-prev-link,
.news-detail-next-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news-detail-prev-link {
    padding-left: 20px;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 32px;
        aspect-ratio: 1 / 1;
        background-image: url('../../../../assets/img/news/icon_left.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.news-detail-next-link {
    text-align: right;
    padding-right: 20px;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 32px;
        aspect-ratio: 1 / 1;
        background-image: url('../../../../assets/img/news/icon_right.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.news-detail-prev-next-text {
    font-weight: bold;
}

.news-detail-prev-next-title {
    font-weight: bold;
    color: var(--color-navy);
    line-height: 1.2;
}



