@use "../../global" as g;

/*!
page > recruit > recruit-entry
------------------------------
*/
.recruit-entry-table {
    margin-top: 40px;
}

.recruit-entry-text {
    margin-top: 20px;
    font-size: 0.875rem;
    font-weight: bold;
}