@use "../global" as g;

/*!
component > button
------------------------------
*/
.c-button {
    background-color: var(--color-navy);
    color: var(--color-white);
    display: grid;
    place-items: center;
    font-size: 16px;
    line-height: 1;
    border-radius: 6px;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
    border: 1px solid var(--color-navy);

    @media (any-hover: hover) {
        &:hover{
            background-color: var(--color-white);
            color: var(--color-navy);
        }
    }
}

.c-button-large {
    width: 200px;
    height: 54px;
}

.c-button-small {
    width: 160px;
    height: 38px;
}

.c-button-white {
    background-color: var(--color-white);
    color: var(--color-navy);
    border: 1px solid var(--color-white);
    transition: color 0.3s, background-color 0.3s;

    @media (any-hover: hover) {
        &:hover{
            background-color: var(--color-navy);
            color: var(--color-white);
        }
    }
}