@use "../../global" as g;

/*!
page > service > service-fv
------------------------------
*/
.service-fv {
    background-image: url(../../../assets/img/service/service-fv.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100vw;
    height: 90vh;
}

.service-fv-content {
    position: absolute;
    top: 30%;
    left: clamp(24px, 8vw, 120px);
    transform: translateY(-30%);
}

.service-fv-title-wrap {
    display: flex;
    flex-direction: column;
    gap: 14px;

    &::after {
        content: "";
        display: block;
        width: 60px;
        height: 2px;
        background-color: var(--color-blue);
        margin-top: 14px;
    }
}

.service-fv-text-en {
    font-family: var(--font-family-en);
    font-weight: bold;
    color: var(--color-blue);
}

.service-fv-text-ja {
    color: var(--color-white);
    font-size: clamp(24px, 5vw, 48px);
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1;
}

.service-fv-message {
    color: var(--color-white);
    font-size: clamp(24px, 5vw, 48px);
    font-weight: bold;
    margin-top: 40px;

    span {
        display: block;
    }

}

.service-fv-text {
    color: var(--color-white);
    margin-top: 24px;

    span {
        display: block;
    }
}

