@use "../../global" as g;

/*!
page > works > works-list
------------------------------
*/
.works-fv {
    background-image: url(../../../assets/img/works/works-fv.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    
    &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      90deg,
      rgba(2, 6, 23, 0.78) 0%,
      rgba(2, 6, 23, 0.48) 45%,
      rgba(2, 6, 23, 0.2) 100%
    );
    z-index: 1;
      }
}

.works-fv-content {
  z-index: 2;
  position: relative;
  top: 30%;
  left: clamp(24px, 8vw, 120px);
  transform: translateY(-30%);
  color: var(--color-white);
}

.works-fv-title-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.works-fv-title-en {
  font-size: clamp(24px, 5vw, 120px);
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  font-family: var(--font-family-en);
}

.works-fv-title-ja {
  font-size: clamp(24px, 4vw, 36px);
  letter-spacing: 0.1em;
  line-height: 1;
}

.works-fv-text {
  margin-top: 40px;
  line-height: 1.8;

  span {
    display: block;
  }
}


